// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

.papyrus
  font-family: Helvetica, Calibri, "Times New Roman"

.myheader 
  font-size: 2em;
  font-weight: bold;

.myheader2
  font-size: 1.7em;
  
.myheader3
   font-size: 1.5em;

.devanagari 
  font-family: 'Yatra One', cursive;

.page-enter-active, .page-leave-active
  transition: opacity .5s;

.page-enter, .page-leave-to 
  opacity: 0;

table {
  border: 6px solid #948473;
  background-color: #FFE3C6;
  width: 100%;
  text-align: center;
}
table td, table th {
  border: 1px solid #948473;
  padding: 4px 4px;
}
table thead {
  background: maroon;
  color: white;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table thead th {
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #948473;
}

table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-weight: bold;
  color: #F0F0F0;
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table tr:hover{
  font-weight: bold;
  color: #F0F0F0;
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

.defaultTable
  border: 1px solid white;
  background-color: #FFE3C6;
  width: 100%;

.defaultTable td, table th {
  border: none;
  padding: 0;
}
.defaultTable thead {
  background: white;
  color: black;
  }
.defaultTable thead th {
  font-weight: bold;
  font-size: 2em;
  color: black;
  text-align: center;
  border: none;
}

.defaultTable tr:hover{
  font-weight: bold;
  color: brown;
  background: none;
}